{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div><p class="lead">
    <a href="{% url 'create_message' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Создать письмо рассылки</a>
</p>
</div>
{% for object in object_list %}

<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"/>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">{{ object.subject }}</h3>
                <p>{{ object.body }}</p>
                <a href="{% url 'edit_message' object.pk %}" class="btn btn-warning">
                    Редактровать
                </a>
                <a href="{% url 'delete_message' object.pk %}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}