{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div>
</div>
{% for object in object_list %}

<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"/>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">{{ object.full_name }}</h3>
                <p>Email: - {{ object.email }}</p>
                <p>Comment: - {{ object.comment }}</p>

            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}