{% extends 'mailing/base.html' %}
{% load static %}

{% block content %}

<main class="px-3">
    <h1>Сервис для рассылок
        E>mail</h1>
    <p class="lead">Регистрация</p>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if user %}
            <button type="submit" class="btn btn-success">Обновить данные</button>
            {% else %}
            <button type="submit" class="btn btn-success">Создать</button>
            {% endif %}
        </form>
    </div>

</main>
{% endblock %}